<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/admin">
      <%= image_tag 'logo.png', size: '112x27' %>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Sách
        </a>

        <div class="navbar-dropdown">
          <%= link_to 'Tạo mới', new_admin_book_path, class: 'navbar-item' %>
          <%= link_to 'Danh sách', admin_books_path, class: 'navbar-item' %>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to 'Thoát', admin_sign_out_path, method: :delete, class: 'button is-light' %>
        </div>
      </div>
    </div>
  </div>
</nav>
